<style type="text/css">
h1 { color: red;
  font -size: 24 pt;
  text decoration: underline
  font -family: Tahoma, Helvetica. sans-serif; }

  em { color: green;
    font-style: normal;
    background_color: lightgrey;
    font-weight: bold; }
    </style>
    a:hover { text-decoration: none; }
    li:first-child {
      border: thick solid green;
      margin-bottom: 1em;
      margin-top: 1em;
      padding: 1ex;
      width : 40%; }

      p centered {
        text-align: center;
        width: 50%; }

        <body>
        <p>
        <strong> Introduction to Info Sys <strong/>
        <p/>
        <p class= "centered">
        <em> Ahsen Özkul <br> 150210312 </em> </p>
